.canopy__checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  padding-top: 2.5px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Geomanist";
  font-weight: 400;
}

.canopy__checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.canopy__checkbox-mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #EAEAEA;
  border-radius: 4px;
}

/* .canopy__checkbox-container:hover input ~ .canopy__checkbox-mark {
}

.canopy__checkbox-container input:checked ~ .canopy__checkbox-mark {
} */

.canopy__checkbox-mark:after {
  content: "";
  position: absolute;
  display: none;
  border: solid white;
}

.canopy__checkbox-container input:checked ~ .canopy__checkbox-mark:after {
  display: block;
}

.canopy__checkbox-container .canopy__checkbox-mark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #3EACA8;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
